<div id="container">
      
	<% @blogs.each do |blog| %>
	<div class="heading">
		<h1><%= link_to blog.title, blog %></h1>
	</div>

	<div class="content">
	<img src="#"/>
	<div>
		<%= blog.body.html_safe %>
	</div>
	</div>
	<% end %>

</div>