<h1>Listing blogs</h1>
      
    <% @blogs.each do |blog| %>
      <h1><%= link_to blog.title, blog %></h1>
      <p><%= blog.body.html_safe %></p>
      <p><% if blog.category %><%= blog.category.name %><% end %></p>
    <% end %>
