<!-- BLOG ROW -->
<div id="blogrow" class="row">
  <div>
    
    <p style="display: block; text-align: center; margin-top: 2em">Nov 10 | @Ben_Watt</p>
    <h1>Looking back it was like the Bee Gees or something</h1>
    <p class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor.</p>
  </div>
  <div>
    <%= image_tag "8.jpg" %>
  </div>
</div>
<!-- END BLOG ROW -->