<!-- BLOG ROW -->
<div id="blogrow" class="row">
  <div>
    <p><% if @blog.category %><%= @blog.category.name %><% end %></p>
    <p><%= @blog.created_at.strftime("%d %^b") %> | @Ben_Watt</p>
    <h1>Looking back it was like the Bee Gees or something</h1>
    <p class="desc"><%= truncate(@blog.body, length: 300) %></p>
  </div>
  <div>
    <%= image_tag "8.jpg" %>
  </div>
</div>
<!-- END BLOG ROW -->