<% unless event.nil? %>
	<% if event.tickets %>
		<p><% event.tickets.each do |ticket| %>
			<a href="<%= ticket.url %>" class="buyrainbow">&rsaquo; <%= ticket.name %> tickets</a><br />
		<% end %>
		</p>
	<% end %>
<% end %>