<!-- FOOTER ROW -->
<footer class="row">
<h2>Convergence</h2>
<ul>
      <li><a href="/events">Events</a></li>
      <li><a href="/locations">Locations</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/blogs">Blog</a></li>
</ul>
<p>social media icons here...</p>
</footer>

<div>
	<p>&copy;Convergence 2015</p>
</div>
<!-- END FOOTER ROW -->