<!-- FOOTER ROW -->
<footer class="row">
<h2 style="margin: 1em;">Convergence</h2>
<ul style="float: left">
      <li><a href="/events">Events</a></li>
      <li><a href="/locations">Locations</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/blogs">Blog</a></li>
</ul>
<p style="color:#fff; float: right; margin: 0">social media icons here...</p>
</footer>

<div style="float: left; width: 100%; background: #000; text-align: right">
	<p style="text-transform: uppercase; padding: 1em">&copy;Convergence 2015</p>
</div>
<!-- END FOOTER ROW -->