<!-- FOOTER ROW -->
<footer class="row">
<h2 style="margin: 1em;">Convergence</h2>
<ul>
      <li><a href="/events">Events</a></li>
      <li><a href="/locations">Locations</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/blogs">Blog</a></li>
</ul>
</footer>
<!-- END FOOTER ROW -->