
	<!-- MAILING LIST ROW -->
	<div id="mailinglistrow" class="row">

	<div>
		<p style="display: block; text-align: center; padding: 0">
			<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="34px"
	 height="34px" viewBox="0 0 7.68 7.68" enable-background="new 0 0 7.68 7.68" xml:space="preserve">
			<g id="Envelope_1_" enable-background="new    ">
			<path fill="#444444" d="M7.671,1.74c0.004-0.027-0.006-0.049-0.012-0.076c-0.046-0.3-0.234-0.461-0.579-0.461H0.84
		c-0.296,0-0.617,0.113-0.761,0.336c-0.006,0.005-0.015,0.004-0.02,0.01C0.007,1.607,0,1.681,0.015,1.752
		C0.013,1.771,0,1.784,0,1.804v3.84c0,0.397,0.442,0.84,0.84,0.84h6.24c0.397,0,0.6-0.442,0.6-0.84v-3.84
		C7.68,1.78,7.672,1.763,7.671,1.74z M7.08,1.684c0.001,0,0.001,0,0.002,0L3.84,4.269L0.61,1.694
		c0.074-0.014,0.164-0.011,0.23-0.011H7.08z M7.08,6.003H0.84c-0.132,0-0.36-0.228-0.36-0.359V2.205l3.203,2.562
		C3.728,4.807,3.784,4.826,3.84,4.826c0.056,0,0.112-0.02,0.157-0.059L7.2,2.205v3.439C7.2,5.775,7.212,6.003,7.08,6.003z"/>
</g></svg>
		</p>
		<p style="display: block; text-align: center; padding: 0; text-transform: uppercase">Subscribe to announcements. Not spam.</p>
	</div>

	<div style="text-align: center; margin-bottom: 4.5em">
	  <form>
	      <input type="email" placeholder="enter email" />
	      <button type="submit"/>
	  </form>
	</div>
	</div>
	<!-- END MAILING LIST ROW -->


<script>
$('form').submit(function(e){
	e.preventDefault();
	$('input', this).prop("disabled", true);
	$('button', this).toggleClass('hover');
})
</script>


<script>
// SC.initialize({
// client_id: "5a2227c9d733df3454049cbb9dda1c1a"
// });

// SC.get("/tracks/174550060", function(track){

//   var waveform = new Waveform({
//     container: document.getElementById("example2"),
//     innerColor: "transparent",
//     outerColor: "#f1f1f1"
//   });

//   waveform.dataFromSoundCloudTrack(track);

//   var streamOptions = waveform.optionsForSyncedStream();
//   SC.stream(track.uri, streamOptions, function(stream){
//     window.exampleStream = stream;
//     window.exampleStream.play();
//   });

// });
</script>