<nav>
  <li><a href="/events">Events</a></li>
  <li><a href="/locations">Locations</a></li>
  <li><a href="/"><img src="<%= asset_path "casein/convergence.png" %>" /></a></li>
  <li><a href="/about">About</a></li>
  <li><a href="/blogs">Blog</a></li>
</nav>