<nav style="text-transform: uppercase;">
  <span class="icon"><img src="<%= asset_path "menu.png" %>" /></span>
  <span class="player"></span>
  <a class="logo" href="/"><img src="<%= asset_path "convergence.png" %>" /></a>
  <p><!-- audio player info goes here --></p>
  <div>
	  <li><a href="/events">Events</a></li>
	  <li><a href="/locations">Locations</a></li>
	  <li><a href="/about">About</a></li>
	  <li><a href="/blogs">Blog</a></li>
  </div>
</nav>