<div id="videorow" class="row" style="width: 1085px; margin: 0 98px 0 97px;">
	<% @embeds.each do |embed| %>
  	<div class="embed-container">
    	<%= embed.source.html_safe %>
  	</div>
  	<% end %>
</div>