<div id="container">
	<div class="heading">
		<h1><%= @about.title %></h1>
	</div>

	<div class="content">
		<img src="#" style="width: 65px; height: 65px; position: absolute; left: -33px; top: -33px; background-color: #444" />
		<div>
			<%= @about.body.html_safe %>
		</div>
	</div>
</div>

