<script>
var cvgHeight = window.innerHeight
</script>


<!-- 

<div id="dots" style="position: fixed; left: 0; top: 0; bottom: 0; right: 0; background-image: url(<%= asset_path "dots.png" %>);background-position: 50% 50%; background-size: cover; z-index: 100; background-color: transparent; transform: rotateY(50deg); "></div>
 -->
<!-- ********** MAIN EVENTS PANEL ********** -->
<!-- ********** ***************** ********** -->
<!-- ********** ***************** ********** -->
<% @events.each_with_index do |event, i| %>
  <% if i == 0 %>
    <div class="splash" style="background-image: url(<%=eventImage(event)%>); background-position: 50% 50%; background-size: cover; z-index: -1"></div>
    <div id="splash-shift"></div>

    <script>
    var splashShift = document.querySelector("#splash-shift");
    splashShift.style.height = cvgHeight + 'px';

    
    </script>

    <nav>
      <li>Events</li>
      <li>Locations</li>
      <li><img src="<%= asset_path "casein/convergence.png" %>" /></li>
      <li>About</li>
      <li>Blog</li>
    </nav>

  <% else %>

    <div class="splash sub-splashes" style="background-image: url(<%=eventImage(event)%>); background-position: 50% 50%; background-size: cover; opacity: 0;"></div>

  <% end %>
<% end %>
<!-- ********** ***************** ********** -->
<!-- ********** ***************** ********** -->
<!-- ********** ***************** ********** -->





<script>
    var splashes = document.querySelectorAll(".splash");
    // [].forEach.call(subSplashes, function(el){
    //   el.style.height = cvgHeight + 'px';
    // })

    var current = 0;
    var numSplashes = splashes.length-1;

    function rotateEvents() {
      splashes[current].style.opacity = 0;
      current++;
      if (current > numSplashes) {
        current = 0;
      }
      splashes[current].style.opacity = 1;
    }

    window.setInterval(rotateEvents, 5000);
</script>

<script>
//var dots = $("#dots");

// window.onmousemove = function(e){
//   dots.css('transform', 'rotateY('+e.clientX+'deg)').css('transform', 'rotateX('+e.clientY+'deg)')
// }
</script>

<script type="text/javascript">
$(document).ready(function() {
  $('nav').waypoint('sticky');
});
</script>

<!-- EVENTS ROW -->
<div class="events row">
  <div style="z-index: 5">
    <div style="height: 200px; margin-top: 200px;">
        <div style="color: #888;">
          <p>content here</p>
          <p>content here</p>
          <p>content here</p>
        </div>
    </div>
  </div>
  <div style="left: 20%; background: #444; z-index: 4">
    <div style="height: 200px; margin-top: 200px;">
        <div style="color: #888;">
          <p>content here</p>
          <p>content here</p>
          <p>content here</p>
        </div>
    </div>
  </div>
  <div style="left: 40%; background: #555; z-index: 3">
    <div style="height: 200px; margin-top: 200px;">
        <div style="color: #888;">
          <p>content here</p>
          <p>content here</p>
          <p>content here</p>
        </div>
    </div>
  </div>
  <div style="left: 60%; background: #666; z-index: 2">
    <div style="height: 200px; margin-top: 200px;">
        <div style="color: #888;">
          <p>content here</p>
          <p>content here</p>
          <p>content here</p>
        </div>
    </div>
  </div>
  <div style="left: 80%; background: #777; z-index: 5">
    <div style="height: 200px; margin-top: 200px;">
        <div style="color: #888;">
          <p>content here</p>
          <p>content here</p>
          <p>content here</p>
        </div>
    </div>
  </div>
</div>
<!-- END EVENTS ROW -->

<!-- BLOG ROW -->
<div class="row">
  <h2>blog row</h2>
<div><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></div>

<div><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></div>

<div><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></div>
</div>
<!-- END BLOG ROW -->


<!-- VIDEO ROW -->
<div class="row">
  <h2>video row</h2>
<div><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></div>

<div><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></div>

<div><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></div>
</div>
<!-- END VIDEO ROW -->


<!-- MAILING LIST ROW -->
<div class="row">
  <h2>mailing list row</h2>
<div><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></div>

<div><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></div>
</div>
<!-- END MAILING LIST ROW -->



<!-- FOOTER ROW -->
<div class="row">
  <h2>footer row</h2>
<div><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></div>

<div><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></div>
</div>
<!-- END FOOTER ROW -->




<script type="application/processing">

 var  VerletPhysics2D = toxi.physics2d.VerletPhysics2D,
      VerletParticle2D = toxi.physics2d.VerletParticle2D,
      CircularConstraint = toxi.physics2d.constraints.CircularConstraint,
      AttractionBehavior = toxi.physics2d.behaviors.AttractionBehavior,
      GravityBehavior = toxi.physics2d.behaviors.GravityBehavior,
      Circle = toxi.geom.Circle,
      Vec2D = toxi.geom.Vec2D,
      VerletSpring2D = toxi.physics2d.VerletSpring2D,
      Rect = toxi.geom.Rect;

import toxi.geom.*;
import toxi.physics2d.*;
import toxi.physics2d.behaviors.*;
import toxi.color.*;
import toxi.physics2d.constraints.*;

int REST_LENGTH = 30;
VerletPhysics2D physics;
AttractionBehavior mouseAttractor;
AttractionBehavior antiAttractor;
AttractionBehavior mouserep;
CircularConstraint myConstraint;
Circle c;

Vec2D mousePos;
ToneMap toneMap;
Boolean m;

void setup() {
  size(window.innerWidth, window.innerHeight);
  physics = new VerletPhysics2D();
  physics.setDrag(0.9);
  physics.setWorldBounds(new Rect(0, 0, width, height));
  //physics.addBehavior(new GravityBehavior(new Vec2D(0, 0.15)));

  mousePos = new Vec2D(mouseX, mouseY); 
  mouseAttractor = new AttractionBehavior(mousePos, 540, 50);
  physics.addBehavior(mouseAttractor);

  mouserep = new AttractionBehavior(mousePos, 35, -50);
  physics.addBehavior(mouserep);


  // c = new Circle(mousePos,175);
  // myConstraint = new CircularConstraint(c);
  

  for(int y=0; y<(height/REST_LENGTH); y++) {
    for(int x=0; x<(width/REST_LENGTH); x++) {
      VerletParticle2D p = new VerletParticle2D(x*REST_LENGTH,y*REST_LENGTH);
      VerletParticle2D q = new VerletParticle2D(x*REST_LENGTH,y*REST_LENGTH);
      
      q.lock();

      VerletSpring2D s = new VerletSpring2D(p, q, 0, 0.04);
      physics.addSpring(s);

      // p.addConstraint(myConstraint);
      physics.addParticle(p);
      //physics.addParticle(q);
    }
  }

  //physics.addBehavior(new AttractionBehavior(new Vec2D(width/2, height/2), 20, 10, 0.01));

  // define a color gradient by adding colors at certain key points
  // a gradient is like a 1D array with target colors at certain points
  // all inbetween values are automatically interpolated (customizable too)
  // this gradient here will contain 256 values
  ColorGradient gradient = new toxi.color.ColorGradient();
  gradient.addColorAt(0, toxi.color.NamedColor.PURPLE);
  gradient.addColorAt(120, toxi.color.NamedColor.DEEPPINK);
  gradient.addColorAt(255, toxi.color.NamedColor.DODGERBLUE);
  

  

  //gradient.addColorAt(0, toxi.color.NamedColor.WHITE);
  //gradient.addColorAt(255, toxi.color.NamedColor.WHITE);

  // now create a ToneMap instance using this gradient
  // this maps the value range 0.0 .. 0.33 across the entire gradient width
  // a 0.0 input value will be black, 0.33 white
  toneMap = new toxi.color.ToneMap(0, width/2, gradient);

}

void addParticle() {
 // Vec2D randLoc = Vec2D.randomVector().scale(5).addSelf(width / 2, 0);
 //  VerletParticle2D p = new VerletParticle2D(randLoc);
 //  physics.addParticle(p); 
  //physics.addBehavior(new AttractionBehavior(p, 20, -1.2, 0.01));
}


/********************************************/
/****     DRAW                         ******
*********************************************/
void draw() {
  background(0,0,0,0);
  noStroke();
  mousePos.set(mouseX, mouseY);
  physics.update();
  for (int i=0;i<physics.particles.length;i++) {
    VerletParticle2D p = physics.particles[i];

    
    fill(toneMap.getARGBToneFor(p.distanceTo(mousePos)));
    ellipse(p.x, p.y, 4, 4);
  }

    for(int i =0; i< physics.springs.length; i++) {
      VerletSpring2D s = physics.springs[i];
      if (m == true) {
        s.setRestLength(100);
      } else {
        s.setRestLength(0);
      }
      if (m == true) {
        stroke(toneMap.getARGBToneFor(s.a.distanceTo(mousePos)));
        line(s.a.x,s.a.y,s.b.x,s.b.y);
      }
    }
}
/********************************************/
/****     END DRAW                      ******
*********************************************/





void mousePressed() {
  m = true;
  // addParticle();
  // mousePos = new Vec2D(mouseX, mouseY); 
  // 
  physics.removeBehavior(mouseAttractor);
}

void mouseDragged() { 
  //mousePos.set(mouseX, mouseY);
}

void mouseReleased() { 
  m = false;
  mouseAttractor = new AttractionBehavior(mousePos, 340, 50);
  physics.addBehavior(mouseAttractor);
}
</script>

<canvas id="myCanvas" style="position: fixed; left:0; right: 0; top: 0; bottom: 0;"></canvas>


