<% pagetitle "About" %>

<div id="container">
	<div class="content">
		<h1>H1 headline</h1>
		<h2>H1 headline</h2>
		<h3>H1 headline</h3>
		<h4>H1 headline</h4>
		<h5>H1 headline</h5>
		<h6>H1 headline</h6>

		<p>Paragraph. Tony Allen started making music with Fela Anikulapo-Kuti in the late 1960s and continued to be the rhythm powerhouse of Afrika 70 during the self proclaimed “Black President’s” most prolific period. Allen fused jazz drumming styles from Americans such as Art Blakey with African Highlife to create the backbone for Afrobeat. But Afrobeat continues to break the form rather than get stuck in a loop. “The approach is Afrobeat” says Allen, “it can be extended not just to the past but also applied to my whole life. It’s the ups and downs of music. It’s about evolution - we just keep moving on.”</p>

		<ul>
			<li>List item</li>
			<li>List item</li>
			<li>List item</li>
			<li>List item</li>
			<li>List item</li>
		</ul>
	</div>
</div>

