$navgrey: #eef0ed;
$smallscreennav: #444;
$maingrey: #e8e8e8;

html, body {
 
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

body {
  background-color: #e8e8e8;
  position: relative;
}

body:not(.pages-index) {
  padding-top: 106px;
}

html, body, p, div, h1, h2, h3, nav, ul, li, a {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  color: #444;
}

body {
  max-width: 1280px;
  margin: 0 auto;
}

h1 a,
h2 a,
h3 a {
  text-decoration: none;
}

nav a {
   text-decoration: none;
}

nav span:nth-of-type(2) {
  height: 10px;
  background: linear-gradient(90deg, #2aa9ea, #e90190);
  display: block;
}

html {
	overflow-y: scroll;
}

body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

/*body:not(.pages-index) {
  padding-top: 116px;
}
*/
.row {
  background: #e8e8e8;
  float: left;
  z-index: 1;
  width: 100%;
  position: relative;
  z-index: 3;
}

.splash {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
  z-index: -1;
  -webkit-transition: opacity 2s;
  -moz-transition: opacity 2s;
	-ms-transition: opacity 2s;
	-o-transition: opacity 2s;
	transition: opacity 2s;
  background-position: 50% 50%;
  background-size: cover;
  z-index: -1
}






/****** LAUNCH PANEL ********/
.splash.launch h1,
.splash.launch h2,
.splash.launch h3 {
  color: #444;
  font-weight: normal;
  line-height: 1.5em;
}

.splash.launch h1 {
  width: 60%;
  font-size: 2em;
  font-family: 'Oxygen', sans-serif;
  letter-spacing: 13px;
}
.splash.launch h2 {
  width: 60%;
  font-size: 1em;
  font-weight: bold;
}
.splash.launch h3 {
  font-size: 1em;
  width: 100%;
}
.splash.launch svg {
  width: 22px;
  height: 28px;
  margin-top: 50px;
}
/****** LAUNCH PANEL ********/





.initialHide {
  opacity: 0;
}
.splash-inner {
  display: table;
  height: 100%;
  width:100%;
}
.splash-inner div {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: #ededed;
  font-size: 2em;
  line-height: 2em;
}

.pages-index h1,
.pages-index h2 {
  color: #fff;
}

.splash-inner div h1,
.splash-inner div h2 {
  width: 50%;
  margin: 0 auto;
}

.splash-inner h2 {
  font-size: 1em;
  line-height: 1.3em;
}


@-webkit-keyframes mymove {
    0%   {transform:scale(1,1)}
    50%  {transform:scale(1.1,1.1)}
    100% {transform:scale(1,1)}
}

@keyframes mymove {
	0%   {transform:scale(1,1)}
    50%  {transform:scale(1.1,1.1)}
    100% {transform:scale(1,1)}
}

nav {
	height: 106px;
  width: 100%;
	background: none;
	text-align: left;
}

.pages-index nav {
  border-color: transparent;
}

.pages-index nav a {
  color: transparent;
}

.pages-index.adjust nav a {
  color: #444;
}

.pages-index nav p,
.pages-index nav div,
.pages-index nav div p {
  border-color: transparent;
}

.pages-index.adjust nav p,
.pages-index.adjust nav div,
.pages-index.adjust nav div p {
  border-color: #cacccb;
}

nav div {
  height: 48px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #cacccb;
  padding-top: 17px;
  margin-left: 96px;
  padding-left: 30px;
}

nav .logo {
  width: 96px;
  height: 96px;
  margin: 0;
  float: left;
  display: none;
}

nav.stuck .logo {
  display: block;
}

nav .logo img {
  width: 96px;
  height: 96px;
}

nav p {
  margin-left: 96px;
  height: 48px;
  text-align: right;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #cacccb;
}

.icon {
  display: none;
}

.icon img {
  margin: 15px 0 0 12.5px
}

.sticky-wrapper {
  position: relative;
  z-index: 5;
  margin-bottom: 0;
}
.pages-index .player {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.stuck .player {
  position: static;
}

body:not(.pages-index) nav,
.stuck {
  position:fixed !important;
  top:0;
  width: 100%;
  z-index: 5;
  max-width: 1280px;
  background-color: $maingrey;
  // transition: background-color 1.5s;
  color: #444;
  border-color: #aaa;
}

.stuck a {
  color: #444;
  transition: color 1s;
}

.stuck p,
.stuck div {
  border-color: #cacccb;
  transition: border-color 1s;
}

p {
	padding: 0.8em 0;
	line-height: 1.8em;
}

nav li {
	list-style-type: none;
	display: inline;
	margin: 0 20px;
}

nav li img {
	vertical-align: middle;
}

.events>div:hover {
	/*width: 30%;
	transition: width 0.7s;*/
}

.events a,
.events p,
footer a {
  color: #fff;
}

.event-container {
  width:20%;
  float: left;
  height: 500px;
  background: #333;
  /*transition: width 0.2s;*/
  background-size: cover;
  background-position: 50% 50%;
}

.event-overlay {
  position: relative;
  height: 500px;
  opacity: 0;
}

.event-container:hover .event-overlay {
  background: linear-gradient(rgba(21, 151, 226, 0.6), rgba(231, 0, 146, 0.6));
  opacity: 1;
  transition: opacity 1s;
}

.hide1 {
  opacity: 0;
  position: relative;
  top: 40px;
}

.hide2 {
  opacity: 0;
  position: relative;
  top: 10px;
}

.event-container:hover .hide2 {
  opacity: 1;
  transition: opacity 3s;
  top: 0;
  transition: opacity 1s, top 0.5s;
}

.event-container:hover .hide1 {
  opacity: 1;
  top: 0;
  transition: opacity 1.5s, top 0.75s;
}

.event-inner {
  color: #fff;
  position: absolute;
  bottom: 0;
  width: 20%;
  padding: 0 30px;
  height: 232px;
}

.event-inner p {
  padding: 0;
  line-height: 2.5em;
}

.event-inner p:nth-of-type(4) {
  font-size: 2em;
  line-height: 1.35em;
}

.event-inner p:last-of-type {
  position: absolute;
  bottom: 24px;
  font-size: 0.9em;
  text-transform: uppercase;
}

/* second blog row section (normally an image) */
.blogrow div div:nth-of-type(2) {
  width: 40%;
}

.blogrow {
  clear: left;
  float: left;
}

#videorow {
  clear:left;
  float: left;
  height: 700px;
}

.blogrow {
  width: 100%;
  height: 640px;
}

.blogrow>div:nth-of-type(1) {
  display: table;
  height: 100%;
  width: 100%;
}

.blogrow div div {
  display: table-cell;
  vertical-align: middle;
}

.blogrow img {
  width: 100%;
  vertical-align: bottom;
}

.blogrow.even .txt {
  position: relative;
  left: 50%;
}

.blogrow.even .img {
  position: relative;
  left: -50%;
}

.blogrow h3 {
  font-size: 4em;
  line-height: 1.5em;
  margin: 0.8em auto 0.5em auto;
  text-align: center;

}

.blogrow p {
  display: block;
  text-align: center;
  margin: 0;
  padding: 0;
}

.blogrow p.cat {
  margin-bottom: 0.5em;
  text-align: center;
}

.cat img {
  width: 50px;
  height: 50px;
}

.blogrow .desc,
.blogrow h3 {
  width: 70%;
  text-align: left;
  margin: 64px auto 0;
}

.blogrow .desc {
  width: 60%;
  text-align: left;
  margin-top: 48px;
}

.blogrow.even .desc {
  right: 2%;
}

.meta {
  position: absolute;
  bottom: 0;
  right: 0;
  
}

#mailinglistrow {
  background: #e8e8e8 url(asset-url('dots.png', 'image')) 50% 100% no-repeat;
}

#mailinglistrow input {
  width: 33%;
  height: 1em;
  padding: 1.2em 0 1.1em 1em;
  color: #666;
  font-size: 1.5em;
  border: 1px solid #e0e0e0;
}

#mailinglistrow div:nth-of-type(1) {
  padding-top: 3em;
}

footer.row {
  background: #444;
  color: #aaa;
}

/* this is for the blog category image only */
#container .content>img:nth-of-type(1) {
  width: 65px;
  height: 65px;
  position: absolute;
  left: -33px;
  top: -33px;
  background-color: #444
}

body:not(.pages-index) #container .content div:not(.share) img,
body:not(.pages-index) iframe {
  width: 100% !important;
  height: auto !important;
}












@media screen and (max-width: 1024px) { 
  
  .event-container {
    width: 33%;
    display: table;
  }
  .event-overlay {
    display: none;
  }
  .event-inner {
    position: static;
    height: 500px;
    width: 100%;
    display: table-cell;
    vertical-align: bottom;
    padding-bottom: 30px;
    word-break: break-word;
  }

  .event-inner p:last-of-type {
    position: static;
  }

  .blogrow h3 {
    font-size: 2em;
  }

}

@media screen and (max-width: 900px) { 
  .splash.launch h1 {
    width: 80%;
  }
}

@media screen and (max-width: 660px) { 
  .blogrow {
    height: auto;
  }

  #mailinglistrow div:nth-of-type(1) {
    padding-top: 3em;
  }

  .blogrow .img {
    height: 475px;
    background-size: cover;
  }

  .blogplayer {
    height: 5px;
    display: block;
    width: 100%;
    background: linear-gradient(90deg, #2aa9ea, #e90190);
  }

  .splash.launch h1,
  .splash.launch h2,
  .splash.launch h3 {
    font-size: 0.8em;
    width: 100%;
  }
  .splash.launch h2,
  .splash.launch h3 {
    font-size: 0.5em;
  }
  .splash.launch div img {
    width: 90px;
    height: auto;
  }

  .blogrow div div {
    display: block;
  }
  .splash.launch h1 {
    font-size: 1.2em;
  }
  .txt {
    width: 100%;
  }
  .blogrow div div:nth-of-type(2) {
    width: 100%;
    display: block;
  }
  .blogrow.even .txt,
  .blogrow.even .img {
    left: auto;
  }
  .txt {
    padding: 20px 0;
  }
  body:not(.pages-index) nav,
  .stuck {
    background-color: $navgrey;
  }
}



@media screen and (min-width: 616px) {
  .adjust .sticky-wrapper {
    margin-bottom: -116px;
  }
  .pages-index nav {
    position: absolute;
    bottom: 0px;
  }
}

@media screen and (max-width: 615px) { 
  body:not(.pages-index) {
    padding-top: 44px;
  }
  /* adjust shift element as we no longer have the experimental interaction*/
  #splash-shift {
    display: none;
  }
  .splash {
    height: 480px;
    position: static;
  }
  .initialHide {
    opacity: 1;
  }
  /**********/

  /*********/
  /* nav   */
  /*********/
  nav {
    padding: 0;
    height: auto;
    font-size: 16px;
  }
  .pages-index nav {
    height: 48px;
  }
  nav span:nth-of-type(2) {
    display: none;
  }
  nav span.icon {
    display: block;
    height: 48px;
    width: 48px;
    float: right;
  }

  nav .logo,
  nav .logo img {
    height: 48px;
    width: 48px;
  }
  nav p {
    border: 0;
  }
  nav li,
  nav li a,
  footer li,
  footer li a {
    display: block;
    margin: 0;
  }
  nav div {
    display: none;
    background: $smallscreennav;
    margin: 0;
    height: auto;
    text-align: left;
    padding: 0;
    border: 0;
  }
  nav div a {
    color: #fff;
    font-size: 0.8em;
  }
  nav div li {
    border-top: 1px solid #e8e8e8;
    padding: 0 0 0 1em
  }
  nav div li a {
    height: 50px;
    padding-top: 18px;
  }
  nav.open div {
    display: block;
  }
  nav.open .icon {
    background: #444;
  }
  /***********/

  .event-container {
    width: 50%;
  }
  #container {
    border: 0;
    margin: 0;
  }
  #container h1 {
    font-size: 2em;
    padding-left: 0.5em;
    width: auto;
  }
  #container .content {
    padding: 8px 16px 0 16px;
  }
  #container .heading {
    margin-right: 0;
  }
  #container .content img {
    position: static;
  }


  .meta {
    padding: 0 0.5em 0 0;
  }

}










@media screen and (max-width: 320px) { 
  .splash.launch h1,
  .splash.launch h2,
  .splash.launch h3 {
    font-size: 0.8em;
    width: 100%;
  }
  .splash.launch h2,
  .splash.launch h3 {
    font-size: 0.5em;
  }
  .splash.launch div img {
    width: 90px;
    height: auto;
  }
  .blogrow .img {
    height: 275px;
    background-size: cover;
  }
  
  .splash>div {
    vertical-align: middle;
    width: 100%;
    padding-top: 0;
    font-size: 1em;
  }
  
  .splash-inner div h1,
  .splash-inner div h2 {
    width: 90%;
    margin: 0 auto;
    font-size: 0.8em;
  }
  .event-container {
    width: 100%;
    position: relative;
    height: 350px;
  }
  .event-inner {
    top: 58px;
    width: 100%;
  }
  .hide1,
  .hide2 {
    top: 0;
    opacity: 1;
  }
  .stuck {
    position: static;
  }
  
  .blogrow,
  #videorow {
    clear: left;
    float: left;
    height: auto;
  }
  .blogrow img {
    width: 100%;
  }
  .blogrow>div h1,
  .blogrow>div p {
    padding-left: 8px;
    padding-right: 8px;
  }
  .blogrow>div,
  .blogrow>div:nth-of-type(2) {
    width: 100%;
    height: 300px;
  }
  .blogrow .desc {
    position: relative;
    right: auto;
    font-size: 0.8em;
    width: auto;
    margin: 0;
  }
  .blogrow h3 {
    margin: 0 8px;
    font-size: 24px;
  }
  #container h1 {
    padding-bottom: 0;
  }
  .meta {
    position: static;
    padding: 0 1em;
  }
  #videorow,
  #videorow iframe {
    height: 480px;
  }
  
  #mailinglistrow input {
    width: 60%;
  }
   #mailinglistrow div:nth-of-type(1) {
    margin: 0 auto;
    padding-top: 5em;
    padding-bottom: 2em;
   }
  footer {
    height: auto;
  }
} /* end 320 */


















