body {
  background-color: $maingrey;
  position: relative;
}

html, body, p, div, h1, h2, h3, h4, h5, h6, nav, ul, li, a, section, article, span {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
  max-width: 1280px;
  margin: 0 auto;
}

h1 a,
h2 a,
h3 a {
  text-decoration: none;
}

nav a {
   text-decoration: none;
}

a.disabled {
  pointer-events: none;
  opacity: 0;
}

html {
	overflow-y: scroll;
}

body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.row {
  background: #e8e8e8;
  float: left;
  z-index: 1;
  width: 100%;
  position: relative;
  z-index: 3;
}

.splash {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
  z-index: -1;
  -webkit-transition: opacity 2s;
  -moz-transition: opacity 2s;
	-ms-transition: opacity 2s;
	-o-transition: opacity 2s;
	transition: opacity 2s;
  background-position: 50% 50%;
  background-size: cover;
  z-index: -1
}

.no-js .splash {
  position: static;
}

.no-js #videorow,
.no-js #wrapper {
  display: none;
}

.no-js .pages-index #splash-shift {
  pointer-events: auto;
}


/****** LAUNCH PANEL ********/

.launch {
  z-index: 2;
  pointer-events: none;
}

.splash.launch h1,
.splash.launch h2,
.splash.launch h3 {
  color: #444;
}

.splash.launch svg {
  width: 22px;
  height: 28px;
  margin-top: 50px;
}
/****** LAUNCH PANEL ********/





.initialHide {
  opacity: 0;
}
.splash-inner {
  display: table;
  height: 100%;
  width:100%;
}
.splash-inner div {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: #ededed;
}

.content {
  padding: 0 16px;
}

@-webkit-keyframes mymove {
    0%   {transform:scale(1,1)}
    50%  {transform:scale(1.1,1.1)}
    100% {transform:scale(1,1)}
}

@keyframes mymove {
	0%   {transform:scale(1,1)}
    50%  {transform:scale(1.1,1.1)}
    100% {transform:scale(1,1)}
}

.events a,
.events p,
footer a {
  color: #fff;
}

.event-container {
  width:20%;
  float: left;
  height: 500px;
  background: #333;
  background-size: cover;
  background-position: 50% 50%;
}

.event-overlay {
  position: relative;
  height: 500px;
  opacity: 0;
}

.event-container:hover .event-overlay {
  background: linear-gradient(rgba(21, 151, 226, 0.6), rgba(231, 0, 146, 0.6));
  opacity: 1;
  transition: opacity 1s;
}

.hide1 {
  opacity: 0;
  position: relative;
  top: 40px;
}

.hide2 {
  opacity: 0;
  position: relative;
  top: 10px;
}

.event-container:hover .hide2 {
  opacity: 1;
  transition: opacity 3s;
  top: 0;
  transition: opacity 1s, top 0.5s;
}

.event-container:hover .hide1 {
  opacity: 1;
  top: 0;
  transition: opacity 1.5s, top 0.75s;
}

.event-inner {
  color: #fff;
  position: absolute;
  bottom: 0;
  width: 20%;
  padding: 0 30px;
  height: 232px;
}

.event-inner p {
  padding: 0;
}

.event-inner p:last-of-type {
  position: absolute;
  bottom: 24px;
  text-transform: uppercase;
}

/* second blog row section (normally an image) */
.blogrow div div:nth-of-type(2) {
  width: 40%;
}

.blogrow {
  clear: left;
  float: left;
}

.blogrow .img {
  background-image: asset-url("blog.jpg");
  background-size: cover;
  background-position: 50% 50%;
}

#videorow {
  clear:left;
  float: left;
}

.blogrow {
  width: 100%;
  height: 640px;
}

.blogrow>div:nth-of-type(1) {
  display: table;
  height: 100%;
  width: 100%;
}

.blogrow div div {
  display: table-cell;
  vertical-align: middle;
  padding: 0 70px;
}

.blogrow img {
  width: 100%;
  vertical-align: bottom;
}

.blogrow.even .txt {
  position: relative;
  left: 50%;
}

.blogrow.even .img {
  position: relative;
  left: -50%;
}

.blogrow h3 {
  margin: 0.8em auto 0.5em auto;
  text-align: center;

}

.blogrow p {
  display: block;
  text-align: center;
  margin: 0 0 50px 0;
  padding: 0;
}

.blogrow p.cat {
  margin-bottom: 0.5em;
  text-align: center;
}

.cat img {
  width: 50px;
  height: 50px;
}

.blogrow .desc,
.blogrow h3 {
  width: 70%;
  text-align: left;
  margin: 64px auto 0;
}

.blogrow .desc {
  width: 80%;
  text-align: left;
  margin-top: 23px;
}

.blogrow.even .desc {
  right: 2%;
}

.meta {
  position: absolute;
  bottom: 0;
  right: 0;
  
}

#mailinglistrow {
  background: #e8e8e8 asset-url('dots.png') 50% 100% no-repeat;
}

#mailinglistrow p,
.afterfooter p,
p.author {
  font-size: 16px;
}

#mailinglistrow input {
  width: 33%;
  height: 54px;
  padding: 10px 10px 0 24px;
  color: #666;
  border: 1px solid #e0e0e0;
  font-size: 1.2em;
  text-transform: uppercase;
  font-family: "PrioriSanRegularMedium";
}

.mailingform {
  text-align: center;
  margin-bottom: 4em;
}

.mailingform form {
  width: 60%;
  margin: 0 auto;
  position: relative;
}

.mailingform button svg {
  margin-left: 6px;
}

#mailinglistrow .error {
  border: 1px solid #e90090;
}

input:focus,
button:focus {
  outline: 0;
}

.perror {
  background-color: #e90090;
  color: #fff;
  width: 50%;
  margin: 0 auto 0 25%;
  display: none;
  padding: 3px 0;
  position: absolute;
}

.tick {
  display: none;
}

#mailinglistrow div:nth-of-type(1) {
  padding-top: 3em;
}

footer.row {
  background: #444;
  color: #aaa;
}

body:not(.pages-index) #container .content div:not(.share) img,
body:not(.pages-index) iframe {
  width: 100% !important;
}

.pagination li {
  display: inline;
  list-style: none;
}

.pagination li.disabled {
  display: none;
}

.pagination li:nth-of-type(2) {
  float: right;
}

#wrapper {
  z-index: 1;
  position: fixed;
  left:0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
}

.touch .splash {
  position: static;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
}

.touch #wrapper {
  z-index: -1;
  position: absolute;
  left:0;
  right: 0;
  top: 0;
  bottom: 10%;
  z-index: 1;
  pointer-events: none;
}


footer a img {
  margin-left:16px;
  margin-top: 8px;
  vertical-align: top;
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%; /* 16/9 ratio */
    padding-top: 30px; /* IE6 workaround*/
    height: 0;
    overflow: hidden;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 1024px) { 
  
  .event-container {
    width: 33%;
    display: table;
  }
  .event-overlay {
    display: none;
  }
  .event-inner {
    position: static;
    height: 500px;
    width: 100%;
    display: table-cell;
    vertical-align: bottom;
    padding-bottom: 30px;
    word-break: break-word;
  }

  .event-inner p:last-of-type {
    position: static;
  }

  #mailinglistrow input {
    width: 68%;
  }

  .perror {
    width: 60%;
    position: absolute;
    font-size: 1em;
    margin-top: 2px;
  }
}

@media screen and (max-width: 900px) { 
  .blogrow div div {
    display: block;
  }
  .txt {
    width: 100%;
  }
  .blogrow div div:nth-of-type(2) {
    width: 100%;
    display: block;
  }
  .blogrow .img {
    height: 475px;
    background-size: cover;
  }
  .blogrow {
    height: auto;
  }

  .blogrow div div {
    padding: 32px;
    font-size: 1em;
  }
}


@media screen and (max-width: 660px) { 

  #mailinglistrow div:nth-of-type(1) {
    padding-top: 3em;
  }

  .txt {
    padding: 20px 0;
  }

  footer a img {
    margin-left:32px;
    margin-top: 4px;
    vertical-align: top;
  }
}










@media screen and (max-width: 320px) { 
  .splash.launch h1,
  .splash.launch h2,
  .splash.launch h3 {
    width: 100%;
  }
  .splash.launch div img {
    width: 90px;
    height: auto;
  }
  .blogrow .img {
    height: 275px;
    background-size: cover;
  }
  
  .splash>div {
    vertical-align: middle;
    width: 100%;
    padding-top: 0;
  }
  
  .splash-inner div h1,
  .splash-inner div h2 {
    width: 90%;
    margin: 0 auto;
  }
  .event-container {
    width: 100%;
    position: relative;
    height: 350px;
  }
  .event-inner {
    top: 58px;
    width: 100%;
  }
  .hide1,
  .hide2 {
    top: 0;
    opacity: 1;
  }
  .stuck {
    position: static;
  }
  
  .blogrow,
  #videorow {
    clear: left;
    float: left;
    height: auto;
  }
  .blogrow img {
    width: 100%;
  }
  .blogrow>div h1,
  .blogrow>div p {
    padding-left: 8px;
    padding-right: 8px;
  }
  .blogrow>div,
  .blogrow>div:nth-of-type(2) {
    width: 100%;
    height: 300px;
  }
  .blogrow .desc {
    position: relative;
    right: auto;
    width: auto;
    margin: 0;
  }
  .blogrow h3 {
    margin: 0 8px;
  }
  .meta {
    position: static;
    padding: 0 1em;
  }
  
  .mailingform form {
    width: 100%;
  }

  #mailinglistrow input {
    width: 60%;
  }

  .perror {
    width: 100%;
  }

   #mailinglistrow div:nth-of-type(1) {
    margin: 0 auto;
    padding-top: 5em;
    padding-bottom: 21px;
   }
  footer {
    height: auto;
  }
} /* end 320 */


















