#container {
	border-left: 1px solid #cacccb;
	margin-left: 96px;
}

.blogs-show #container {
	margin-left: 0;
}

// .events-show .content,
// .events-index .content,
// .blogs-index .content,
// .pages-about .content {
// 	position: relative;
// 	padding-bottom: 52px;
// }

// .blogs-index .content,
// .pages-about .content {
// 	padding-left: 96px;
// }

// .blogs-show .content {
// 	float: left;
// 	margin-top: 32px;
// }

// .events-show .content div,
// .events-index .content div,
// .blogs-show .content div,
// .blogs-index .content div,
// .pages-about .content div {
// 	width: 400px;
// }

@media screen and (max-width: 725px) {
	.body,
	.blogs-show .content {
		float: none;
	}
	.blogs-show #container .heading {
		padding: 0;
	}
}

@media screen and (max-width: 660px) {
	#container .content {
		font-size: 0.85em;
	}
}

@media screen and (max-width: 615px) {
	// .events-show .content div,
	// .events-index .content div,
	// .blogs-show .content div,
	// .blogs-index .content div,
	// .pages-about .content div {
	//   width: auto;
	// }

	// .content {
	// 	padding-right: 1em
	// }

	// .about-show #container {
	// 	margin-left: 48px;
	// }

	// #container {
	// 	margin-left: 0;
	// }

	// .blogs-show #container .content {
	// 	padding: 0;
	// }
}

@media screen and (max-width: 320px) { 
	#container .content {
		font-size: 0.75em;
	}
}


#mailinglistrow button {
  width: 64px;
  height: 64px;
  //background: asset-url('submit.gif', image);
  border: 0;
  padding: 0;
  margin: 0;
  vertical-align: top;
}

.buttoff {
	padding: 1px;
	background: linear-gradient(136deg, #e219e7, #1e7fe9);
	display: inline-block;
	margin-top: 1.5em;
	width: 148px !important;
	line-height: 1em;
}
button {
	z-index: 999;
	text-transform: uppercase;
	border: 0;
	color: #fff;
	width: 148px;
	height: 50px;
	background: linear-gradient(136deg, #1e7fe9, #e219e7, #1e7fe9, #e219e7);
	background-size: 400% 400%;
	cursor: pointer;
}

@-webkit-keyframes AnimationName {
	    0%{background-position:0% 7%}
	    100%{background-position:100% 94%}
	    
	}

button:hover,
button.hover {
	-webkit-animation: AnimationName 4s linear infinite;
}