#container {
	border-left: 1px solid #cacccb;
	margin-left: 96px;
}

#container .heading {
	position: relative;
	margin-right: 96px;
}


.events-show h1,
.events-index h1,
.blogs-show h1,
.blogs-index h1,
.pages-about h1 {
	font-size: 4em;
	padding: 1em 1em 0 1em;
	width: 65%;
	line-height: 1.5em;
	padding-bottom: 25px;
}

.events-show .content,
.events-index .content,
.blogs-show .content,
.blogs-index .content,
.pages-about .content {
	position: relative;
	padding-left: 100px;
	padding-top: 25px
}

.events-show .content div,
.events-index .content div,
.blogs-show .content div,
.blogs-index .content div,
.pages-about .content div {
	width: 400px;
}

@media screen and (max-width: 320px) { 
	#container .content {
		padding: 8px 16px 0 16px;
	}

	#container .content div {
		width: auto
	}
}

@media screen and (max-width: 615px) { 
	.events-show .content div,
	.events-index .content div,
	.blogs-show .content div,
	.blogs-index .content div,
	.pages-about .content div {
	  width: auto;
	}

	.content {
	padding-right: 1em
	}

	#container {
		margin-left: 48px;
	}

	#container .content {
		font-size: 0.75em;
	}
}