/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body {
 
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

body {
  background-color: #e8e8e8;
  position: relative;
}

html, body, p, div, h1, h2, h3, nav, ul, li, a {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  color: #444;
}

body {
  max-width: 1280px;
  margin: 0 auto;
}

h1 a,
h2 a,
h3 a {
  text-decoration: none;
}

nav a {
   text-decoration: none;
}

nav span:nth-of-type(2) {
  height: 10px;
  background: linear-gradient(90deg, #2aa9ea, #e90190);
  display: block;
}

html {
	overflow-y: scroll;
}

body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.row {
  background: #e8e8e8;
  float: left;
  z-index: 1;
  width: 100%;
  position: relative;
  z-index: 3;
}

.splash {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
  z-index: -1;
  -webkit-transition: opacity 2s;
  -moz-transition: opacity 2s;
	-ms-transition: opacity 2s;
	-o-transition: opacity 2s;
	transition: opacity 2s;
  background-position: 50% 50%;
  background-size: cover;
  z-index: -1
}
.initialHide {
  opacity: 0;
}
.splash-inner {
  display: table;
  height: 100%;
  width:100%;
}
.splash-inner div {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: #ededed;
  font-size: 2em;
  line-height: 2em;
}

.pages-index h1,
.pages-index h2 {
  color: #fff;
}

.splash-inner div h1,
.splash-inner div h2 {
  width: 50%;
  margin: 0 auto;
}

.splash-inner h2 {
  font-size: 1em;
  line-height: 1.3em;
}


@-webkit-keyframes mymove {
    0%   {transform:scale(1,1)}
    50%  {transform:scale(1.1,1.1)}
    100% {transform:scale(1,1)}
}

@keyframes mymove {
	0%   {transform:scale(1,1)}
    50%  {transform:scale(1.1,1.1)}
    100% {transform:scale(1,1)}
}
  nav {
  	height: 106px;
  	background: #e8e8e8;
  	text-align: left;
  }

  nav div {
    height: 58px;
    border-bottom: 1px solid #cacccb;
    padding-top: 22px;
    margin-left: 96px;
    padding-left: 30px;
  }

  nav .logo {
    width: 96px;
    height: 96px;
    margin: 0;
    display: block;
    float: left;
  }

  nav .logo img {
    width: 96px;
    height: 96px;
  }

  nav p {
    margin-left: 96px;
    height: 38px;
    text-align: right;
    border-bottom: 1px solid #cacccb;
  }

  .icon {
    display: none;
  }
  
  .sticky-wrapper {
    position: relative;
    z-index: 5;
  }

  .stuck {
    position:fixed;
    top:0;
    box-shadow:0 2px 4px rgba(0, 0, 0, .3);
    width: 100%;
    z-index: 5;
    max-width: 1280px;
  }

  p {
  	padding: 1em 0;
  	line-height: 1.8em;
  }

  li {
  	list-style-type: none;
  	display: inline;
  	margin: 0 20px;
  }

  nav li img {
  	vertical-align: middle;
  }

  .events>div:hover {
  	/*width: 30%;
  	transition: width 0.7s;*/
  }

.events a,
.events p,
footer a {
  color: #fff;
}

.event-container {
  width:20%;
  float: left;
  height: 500px;
  background: #333;
  /*transition: width 0.2s;*/
  background-size: cover;
  background-position: 50% 50%;
}

.event-overlay {
  position: relative;
  height: 500px;
  opacity: 0;
}

.event-container:hover .event-overlay {
  background: linear-gradient(rgba(21, 151, 226, 0.6), rgba(231, 0, 146, 0.6));
  opacity: 1;
  transition: opacity 1s;
}

.hide1 {
  opacity: 0;
  position: relative;
  top: 40px;
}

.hide2 {
  opacity: 0;
  position: relative;
  top: 10px;
}

.event-container:hover .hide2 {
  opacity: 1;
  transition: opacity 3s;
  top: 0;
  transition: opacity 1s, top 0.5s;
}

.event-container:hover .hide1 {
  opacity: 1;
  top: 0;
  transition: opacity 1.5s, top 0.75s;
}

.event-inner {
  color: #fff;
  position: absolute;
  bottom: 0;
  width: 20%;
  padding: 0 30px;
  height: 232px;
}

.event-inner p {
  padding: 0;
  line-height: 2.5em;
}

.event-inner p:nth-of-type(4) {
  font-size: 2em;
  line-height: 1.35em;
}

.event-inner p:last-of-type {
  position: absolute;
  bottom: 24px;
  font-size: 0.9em;
  text-transform: uppercase;
}

.blogrow div div:nth-of-type(2) {
  width: 50%;
}

.blogrow {
  clear: left;
  float: left;
}

#videorow {
  clear:left;
  float: left;
  height: 700px;
}

.blogrow {
  width: 100%;
}

.blogrow>div:nth-of-type(1) {
  display: table;
  height: 100%;
  width: 100%;
}

.blogrow div div {
  display: table-cell;
  vertical-align: middle;
}

.blogrow img {
  width: 100%;
  vertical-align: bottom;
}

.blogrow.even .txt {
  position: relative;
  left: 50%;
}

.blogrow.even .img {
  position: relative;
  left: -50%;
}

.blogrow h3 {
  font-size: 4em;
  line-height: 1.5em;
  margin: 0.8em auto 0.5em auto;
  text-align: center;

}

.blogrow p {
  display: block;
  text-align: center;
  margin: 0;
  padding: 0;
}

.blogrow p.cat {
  margin-bottom: 0.5em;
  text-align: center;
}

.cat img {
  width: 50px;
  height: 50px;
}

.blogrow .desc {
  width: 70%;
  text-align: left;
  margin: 0 auto;
}

.blogrow.even .desc {
  right: 2%;
}

.meta {
  position: absolute;
  bottom: 0;
  right: 0;
  
}

#mailinglistrow {
  height: 300px;
}



#mailinglistrow input {
  width: 33%;
  height: 1em;
  padding: 1.2em 0 1.1em 1em;
  color: #666;
  font-size: 1.5em;
  border: 0;
}

footer.row {
  background: #444;
  height: 200px;
  color: #aaa;
}

#container .content img {
  width: 65px;
  height: 65px;
  position: absolute;
  left: -33px;
  top: -33px;
  background-color: #444
}












@media screen and (max-width: 1024px) { 
  .row {
    height: auto;
  }
  .event-container {
    width: 33%;
    display: table;
  }
  .event-overlay {
    display: none;
  }
  .event-inner {
    position: static;
    height: 500px;
    width: 100%;
    display: table-cell;
    vertical-align: bottom;
    padding-bottom: 30px;
    word-break: break-word;
  }

  .event-inner p:last-of-type {
    position: static;
  }

  .blogrow .cat {
    display: none;
  }

  .blogrow h3 {
    font-size: 2em;
  }

}




@media screen and (max-width: 660px) { 
  .blogrow div div {
    display: block;
  }
  .txt {
    width: 100%;
  }
  .blogrow div div:nth-of-type(2) {
    width: 100%;
    display: block;
  }
  .blogrow.even .txt,
  .blogrow.even .img {
    left: auto;
  }
  .txt {
    padding: 20px 0;
  }
}





@media screen and (max-width: 615px) { 
  .event-container {
    width: 50%;
  }


  /*********/
  /* nav   */
  /*********/
  nav {
    padding: 0;
    height: auto;
    font-size: 16px;
  }
  .pages-index nav {
    height: 44px;
  }
  nav span:nth-of-type(2) {
    display: none;
  }
  nav span.icon {
    display: block;
    height: 18px;
    width: 23px;
    float: right;
    margin: 14px 10px 0 0;
  }

  nav .logo,
  nav .logo img {
    height: 44px;
    width: 44px;
  }
  nav p {
    border: 0;
  }
  nav li,
  nav li a,
  footer li,
  footer li a {
    display: block;
    height: 44px;
    margin: 0;
  }
  nav li a,
  footer li a {
    padding-top: 12px;
  }
  nav div {
    display: none;
    background: #e8e8e8;
    margin: 0;
    height: auto;
    text-align: right;
    padding: 0 0.5em 0 0;
  }
  nav.open div {
    display: block;
  }


  #container {
    border: 0;
    margin: 0;
  }
  #container h1 {
    font-size: 2em;
    padding-left: 0.5em;
    width: auto;
  }
  #container .content {
    padding-left: 1em;
  }
  #container .heading {
    margin-right: 0;
  }
  #container .content img {
    position: static;
  }


  .meta {
    padding: 0 0.5em 0 0;
  }

}










@media screen and (max-width: 320px) { 
  .splash {
    height: 480px;
    position: static;
  }
  #splash-shift {
    display: none;
  }
  .splash {
    display: table;
  }
  .splash>div {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    padding-top: 0;
    font-size: 1em;
  }
  .splash-inner div h1,
  .splash-inner div h2 {
    width: 90%;
    margin: 0 auto;
    font-size: 0.8em;
  }
  .initialHide {
    opacity: 1;
  }
  .event-container {
    width: 100%;
    position: relative;
    height: 350px;
  }
  .event-inner {
    top: 58px;
    width: 100%;
  }
  .hide1,
  .hide2 {
    top: 0;
    opacity: 1;
  }
  .stuck {
    position: static;
  }
  
  .blogrow,
  #videorow {
    clear: left;
    float: left;
    height: auto;
  }
  .blogrow img {
    width: 100%;
  }
  .blogrow>div h1,
  .blogrow>div p,
  footer {
    padding-left: 8px;
    padding-right: 8px;
  }
  .blogrow>div,
  .blogrow>div:nth-of-type(2) {
    width: 100%;
    height: 300px;
  }
  .blogrow .desc {
    position: relative;
    right: auto;
    font-size: 0.8em;
    width: auto;
    margin: 0;
  }
  .blogrow h3 {
    margin: 0 8px;
    font-size: 24px;
  }
  #container h1 {
    padding-bottom: 0;
  }
  .meta {
    position: static;
    padding: 0 1em;
  }
  #videorow,
  #videorow iframe {
    height: 480px;
  }
  #mailinglistrow {
    height: auto;
    padding-bottom: 2em;
  }
  #mailinglistrow input {
    width: 60%;
  }
  footer {
    height: auto;
  }
}


















