/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body, p, div, h1, h2, h3, nav {
  	margin: 0;
  	padding: 0;
  	box-sizing: border-box;
  }

  html {
  	overflow-y: scroll;
  }

  body {
  	width: 100%;
  	height: 100%;
  	overflow: hidden;
  }

  .row {
    background: #e8e8e8;
    float: left;
    z-index: 1;
    width: 100%;
  }
  
  .splash {
  	position: fixed;
  	top: 0;
  	left: 0;
  	right: 0;
  	bottom: 0;
    z-index: -1;
	-webkit-transition: opacity 2s;
	-moz-transition: opacity 2s;
  	-ms-transition: opacity 2s;
  	-o-transition: opacity 2s;
  	transition: opacity 2s;

  	-webkit-animation: mymove 12s infinite;
  	animation: mymove 12s infinite;
  }

  /* Chrome, Safari, Opera */ 
@-webkit-keyframes mymove {
    0%   {transform:scale(1,1)}
    50%  {transform:scale(1.1,1.1)}
    100% {transform:scale(1,1)}
}

@keyframes mymove {
	0%   {transform:scale(1,1)}
    50%  {transform:scale(1.1,1.1)}
    100% {transform:scale(1,1)}
}
  nav {
  	height: 80px;
  	background: #e8e8e8;
  	text-align: center;
  	padding-top: 30px;
  }

  .stuck {
    position:fixed;
    top:0;
    box-shadow:0 2px 4px rgba(0, 0, 0, .3);
    width: 100%;
  }

  p {
  	padding: 1em 0;
  	line-height: 1.8em;
  }

  li {
  	list-style-type: none;
  	display: inline;
  	margin: 0 20px;
  }

  nav li img {
  	vertical-align: middle;
  }

  .events>div {
	width:20%;
	position: absolute;
	left: 0;
	height: 400px;
	background: #333;
	transition: width 0.2s;
  }

  .events>div:hover {
  	width: 30%;
  	transition: width 0.7s;
  }